.products__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  margin-top: -1px;
  padding: 0 19px 24px;

  border: 1px solid #ededed;

  &--show-more {
    position: relative;

    flex-direction: column;
    justify-content: space-between;

    min-height: 210px;
    margin-top: -1px;
    padding: 24px 19px;

    border: 1px solid #ededed;

    &::before {
      content: "";

      position: absolute;
      top: 26px;
      left: 50%;

      width: 30px;
      height: 30px;

      transform: translateX(-50%);

      opacity: 0.2;
      background: url("../img/icon-plus-mobile.svg") no-repeat;
    }
  }
}

.products__wrapper {
  display: flex;

  width: 50%;

  text-align: center;

  font-size: 0;
}

.products__wrapper picture {
  display: flex;
  align-items: center;
}

.products__image {
  min-width: 140px;
}

.products__description {
  display: flex;
  flex-direction: column;

  width: 50%;
  margin-top: 21px;
  margin-bottom: auto;

  &--show-more {
    align-items: center;

    width: auto;
    margin-top: 55px;
  }
}

.products__link {
  display: flex;

  width: 65%;

  text-decoration: none;
}

.products__title {
  margin: 0;
  margin-bottom: 13px;

  text-transform: uppercase;

  color: @main-color;

  font-size: 16px;
  font-weight: 400;
  line-height: 20px;

  &--show-more {
    margin-bottom: 8px;
    margin-left: 2px;
  }
}

.products__table {
  width: calc(100% + 1px);

  table-layout: fixed;
  border-spacing: 0;

  color: @text-color;

  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
}

.products__characteristic {
  padding-top: 0;
  padding-right: 10px;
  padding-bottom: 0;
  padding-left: 0;

  word-break: break-all;
}

.products__value {
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 10px;

  text-align: right;
  word-break: break-all;
}

.products__info {
  color: #444444;

  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
}

@media (min-width: @tablet-width) {
  .products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    width: 100%;
    margin-top: 137px;
    padding-right: 30px;
    padding-left: 30px;
  }

  .products__item {
    position: relative;

    align-items: center;
    flex-direction: column;
    justify-content: flex-start;

    width: calc(50% - 30px);
    min-height: 431px;
    margin-bottom: 141px;
    padding-right: 0;
    padding-bottom: 40px;
    padding-left: 0;

    border: 0;
    background-color: @bg-grey;

    &:nth-child(even) {
      margin-right: 0;
    }

    &--show-more {
      padding-top: 0;
      padding-bottom: 38px;

      border: 1px solid rgba(205, 205, 205, 0.5);
      background: none;

      &::before {
        top: 54px;
        left: calc(50% + 1px);

        width: 60px;
        height: 60px;

        background: url("../img/icon-plus.svg") no-repeat;
      }
    }
  }

  .products__wrapper {
    position: absolute;
    bottom: calc(100% - 126px);
    left: 0;

    justify-content: center;

    width: 100%;
  }

  .products__image {
    width: 100%;
  }

  .products__description {
    align-items: center;

    width: 100%;
    margin-top: 163px;
    padding-right: 37px;
    padding-left: 38px;

    &--show-more {
      padding-right: 38px;
    }
  }

  .products__link {
    justify-content: center;

    text-align: center;
  }

  .products__title {
    margin-bottom: 19px;

    text-align: center;

    font-size: 20px;

    &--show-more {
      width: 70%;
      margin-bottom: 25px;
    }
  }

  .products__table {
    margin-bottom: 33px;

    font-size: 16px;
  }

  .products__characteristic {
    padding-top: 8px;
    padding-bottom: 7px;

    border-bottom: 1px solid #cdcdcd;
  }

  .products__value {
    padding-top: 8px;
    padding-bottom: 7px;

    border-bottom: 1px solid #cdcdcd;
  }

  .products__info {
    width: 90%;

    text-align: center;

    font-size: 16px;
    line-height: 19px;
  }
}

@media (min-width: @desktop-width) {
  .products {
    justify-content: center;

    width: 1300px;
    margin-top: 136px;
    margin-right: auto;
    margin-bottom: 5px;
    margin-left: auto;
    padding-right: 0;
    padding-left: 0;
  }

  .products__item {
    width: 245px;
    margin-right: 40px;
    margin-bottom: 144px;
    margin-left: 40px;

    &:nth-child(even) {
      margin-right: 40px;
    }

    &--show-more::before {
      top: 53px;
      left: 50%;
    }
  }

  .products__wrapper {
    bottom: calc(100% - 127px);
  }

  .products__link {
    width: 80%;
  }

  .products__characteristic {
    padding-right: 3px;
    padding-left: 1px;
  }

  .products__value {
    padding-right: 3px;
    padding-left: 1px;
  }

  .products__title--show-more {
    width: 100%;
    margin-top: -1px;
    margin-left: 1px;
  }

  .products__info {
    width: 100%;
    margin-left: -1px;
  }
}
